.simulador-novo-participante {
	width: auto;
	height: auto;
	margin: 0 auto;
	text-align: left;
	font: 14px/20px Arial, Helvetica, sans-serif;
	color: #000;
}

fieldset {
	padding: 10px 15px;
	border: 1px solid #033d7b;
	justify-content: center;

}

legend {
	font-size: 12px;
	text-align: justify;
}

.field {
	border: 0px;
    float: none;
    display: inline-block;
	margin: 5px;
}

.fieldset-titulo {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #033d7b;
}

.simulador-novo-participante fieldset .field-nascimento,
.simulador-novo-participante fieldset .field-sexo,
.simulador-novo-participante fieldset .field-idade-aposentadoria,
.simulador-novo-participante fieldset .field-aporte-inicial,
.simulador-novo-participante fieldset .field-salario-real-contribuicao,
.simulador-novo-participante fieldset .field-contribuicao-espontanea,
.simulador-novo-participante fieldset .field-rentabilidade-esperada,
.simulador-novo-participante fieldset .field-prazo-recebimento
 {
	width: 46%;
}

.simulador-novo-participante fieldset .field .iMask {
	text-transform: uppercase;
	width: 100%;
	height: 20px;
}

.div-calcular{
	padding-top: 10px;
	text-align: center;
}

.botao-calcular {
	text-align: center;
	color: #fff;
	padding: 3px;
	min-width: 165px;
    border: 2px solid #033d7b;
    text-transform: uppercase;
    background-color: #5b81a9;
    cursor: pointer;
	font-size: 12px;
}

.resultado-contribuicao-valor,
.resultado-beneficio-valor,
.resultado-reserva-valor,
.resultado-prazo-recebimento-valor {
	padding-left: 35px;
	text-align: right;
}

.simulador-novo-participante-resultado {
	width: 350px;
}

#mensagem-erro {
	color: red;
	font-weight: bold;
}

#nota-contribuicao {
	color: black;
	font-weight: bold;
}

ul {
	text-align: center;
	list-style: none;
}

form input[type="number"] {
	max-width: 100%;
}